.lgContainer {
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  border-radius: 2% 10% / 1% 3%;
  overflow: hidden;
}

.lgHeader {
  background-color: var(--p-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.lgMain {
  display: flex;
  overflow: scroll;
  padding-left: 5%;
  padding-right: 2%;
}

.lgMain h4 {
  text-decoration: underline;
  margin-bottom: 0px;
}

.generalInfo {
  display: flex;
  flex-direction: column;
  width: 55%;
  overflow-y: scroll;
}

.weekInfo {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-left: 2%;
}

a {
  text-decoration: none;
}
