.reelContainer {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border-radius: 0% 1%/ 1% 99%; */
  border-radius: 1% 1% 1% 1%;
  align-items: center;
  overflow: scroll;
}

.reelHeader {
  background-color: var(--p-dark);
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

/* .reelHeader h2 {
  margin-top: 0px;
} */

.uploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.reelFill {
  padding-left: 20px;
}

.upload-btn {
  background-color: var(--primary);
  height: 60%;
  width: 100%;
  font-size: large;
}

.reel {
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 5px;
  width: 100%;
  overflow: scroll;
}

.reel::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
