.picContainer {
  height: 100%;
  display: flex;
  margin-right: -2%;
}
.picture {
  height: 100%;
}

.pic-btn {
  position: relative;
  align-self: flex-start;
  opacity: 0.1;
  right: 8%;
  margin-top: 1%;
  color: black;
}
