/* palette colours */

:root {
  --p-dark: #e3866e;
  --primary: #fff7e4;
  /* --font: #692116; */
  --font: #320d07;
  --secondary: #ffe1b4;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  font-family: 'The Girl Next Door', cursive;
  color: var(--font);
}

h1 {
  font-family: 'Belgrano', serif;
}

h2 {
  font-family: 'Belgrano', serif;
}

/*
font-family: 'The Girl Next Door', cursive;
font-family: 'Waiting for the Sunrise', cursive;
font-family: 'Yomogi', cursive; */

html {
  margin: 0;
}

button {
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  color: var(--font);
  font-family: 'Belgrano', serif;
}

button:hover {
  opacity: 0.8;
}

input {
  background-color: var(--primary);
  border-radius: 5px;
  font-size: larger;
  border: 0px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 10% 10%;
  font-size: larger;
}
