/* palette colours */

:root {
  --primary: #dff6f9;
  --p-dark: #adc3c6;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  font-family: 'Pacifico', cursive;
}

html {
  margin: 0;
}

button {
  font-weight: bold;
  font-family: sans-serif;
  border: 0px;
  border-radius: 10px;
}
