.infoContainer {
  height: 100%;
  width: 100%;
  margin-right: 1em;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  border-radius: 1% 2% / 5% 8%;
  overflow: hidden;
}

.infoHeader {
  background-color: var(--p-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.infoMain {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-left: 10px;
}

.infoBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
}

.infoFooter {
  display: flex;
  justify-content: space-evenly;
  height: 20%;
  width: 100%;
}

.ddcButton {
  height: 80%;
  width: 60%;
  background-color: var(--p-dark);
  font-size: larger;
}

.clock {
  background-image: url('../../images/clock.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  margin-left: 75%;
}
