.ngContainer {
  height: 100%;
  max-height: 100%;
  width: 100%;
  margin-right: 1em;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  border-radius: 1% 3% / 5% 80%;
  /* border-radius: 5px; */
  overflow: hidden;
}

.ngHeader {
  background-color: var(--p-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.ngMain {
  height: 85%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.nameList {
  display: flex;
  height: 75%;
  max-height: 75%;
  padding-left: 5%;
}

.nameList h3 {
  margin-bottom: 0px;
}

.nameListGirl {
  width: 50%;
}

.nameListBoy {
  width: 50%;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 80%;
  font-size: x-large;
  padding-top: 4%;
  padding-left: 20%;
}

.ngFooter {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
  width: 100%;
}

.ngButton {
  height: 80%;
  width: 40%;
  background-color: var(--p-dark);
  font-size: larger;
}
