.schContainer {
  background-color: var(--secondary);
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}

.schHeader {
  background-color: var(--p-dark);
  height: 15%;
}

.schHeader h2 {
  text-align: center;
}

.aptContainer {
  display: grid;
  grid-auto-rows: auto;
  overflow: scroll;
}

.schFooter {
  background-color: var(--secondary);
  box-sizing: border-box;
  height: 40%;
  overflow: none;
}

.schFooter label {
  font-size: large;
}

.schFooter form {
  display: flex;
  flex-direction: column;
  padding: 0% 5% 5% 5%;
}

.schFooter input {
  font-size: large;
}

.aptSubmit {
  font-size: larger;
  margin-top: 10px;
  background-color: var(--p-dark);
  padding: 10px;
}
