.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal-container.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  width: 500px;
  background-color: white;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  border: solid var(--p-dark) 2px;
}

.modal-container.show .modal-content {
  transform: translateY(0);
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.psubmit {
  background-color: rgb(213, 129, 190);
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  height: 6vh;
  border: 0px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 10px;
}

.modal-btn {
  align-self: flex-start;
  height: 2vh;
  font-size: small;
  font-weight: bold;
  font-size: 10px;
  font-family: sans-serif;

  border: 0px;
  border-radius: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid var(--p-dark);
  border-bottom: 1px solid var(--p-dark);
}
