.ddc-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.ddc-container.show {
  opacity: 1;
  pointer-events: visible;
}

.ddc-content {
  width: 30vw;
  background-color: var(--secondary);
  overflow: hidden;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}

.ddc-container.show .ddc-content {
  transform: translateY(0);
}

.ddc-header,
.modal-footer {
  padding: 10px;
  text-align: center;
}

.ddc-header {
  display: flex;
  height: 4vh;
  align-items: center;
  justify-content: space-between;
  background-color: var(--p-dark);
}

.ddcsubmit {
  background-color: var(--p-dark);
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  height: 6vh;
  border: 0px;
  margin-top: 2vh;
  border-radius: 10px;
  margin-bottom: 0px;
}

.ddc-btn {
  height: 2vh;
  font-size: small;
  font-weight: bold;
  font-size: 10px;
  font-family: sans-serif;
  background-color: var(--primary);
  border: 0px;
  border-radius: 10px;
}

.ddc-title {
  margin-left: 5%;
}

.ddc-body {
  padding: 10px;
  border-bottom: 1px solid var(--p-dark);
  display: flex;
  flex-direction: column;
}
.ddc-body h2 {
  align-self: center;
  margin-bottom: 0px;
}

.ddc-body form {
  padding-bottom: 20px;
}

.ddc-body label {
  margin-bottom: 5px;
}
