.landingContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}

.formContainer {
  height: 70vh;
  width: 30%;
  box-sizing: border-box;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--secondary);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.formHeader {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--p-dark);
}
.logoL {
  height: 30vh;
  width: 30vh;
  background-color: white;
  background-image: url('../../images/logo.svg');
  background-size: contain;
  border-radius: 50%;
  margin-left: -10px;
  margin-right: -10px;
}

.login {
  margin-top: 2vh;
}

input {
  height: 4vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 5px;
}

.landing-btn {
  height: 9vh;
  background-color: var(--p-dark);
  font-size: 25px;
  font-weight: bold;
  border: 0px;
  color: var(--font);
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 10px;
}
